<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:p1="http://schemas.android.com/apk/res/android"
    p1:layout_width="match_parent"
    p1:layout_height="match_parent"
    p1:id="@+id/relativeLayout1">
    <ImageView
        p1:src="#66b1b1b1"
        p1:layout_width="match_parent"
        p1:layout_height="match_parent"
        p1:id="@+id/imageView1"
        p1:layout_above="@+id/relativeLayout2" />
    <RelativeLayout
        p1:layout_width="match_parent"
        p1:layout_height="wrap_content"
        p1:id="@+id/relativeLayout2"
        p1:layout_centerInParent="true">
        <ImageView
            p1:src="@drawable/orange_border_square"
            p1:layout_width="match_parent"
            p1:layout_height="wrap_content"
            p1:id="@+id/scannerBox"
            p1:layout_centerInParent="true"
            p1:adjustViewBounds="true"
            p1:scaleType="fitXY"
            p1:layout_marginLeft="50dp"
            p1:layout_marginRight="50dp" />
        <ImageView
            p1:src="#66b1b1b1"
            p1:layout_width="match_parent"
            p1:layout_height="wrap_content"
            p1:layout_toRightOf="@id/scannerBox"
            p1:id="@+id/imageView4"
            p1:layout_marginLeft="-50dp"
            p1:layout_alignParentTop="false"
            p1:layout_alignTop="@id/scannerBox"
            p1:layout_alignBottom="@id/scannerBox" />
        <ImageView
            p1:src="#66b1b1b1"
            p1:layout_width="match_parent"
            p1:layout_height="wrap_content"
            p1:layout_toLeftOf="@id/scannerBox"
            p1:id="@+id/imageView5"
            p1:layout_marginRight="-50dp"
            p1:layout_alignTop="@id/scannerBox"
            p1:layout_alignBottom="@id/scannerBox" />
        <View
            p1:layout_width="wrap_content"
            p1:layout_height="3dp"
            p1:id="@+id/scannerHorizontalLine"
            p1:layout_centerInParent="true"
            p1:background="@color/carrot_orange" />
    </RelativeLayout>
    <ImageView
        p1:src="#66b1b1b1"
        p1:layout_width="match_parent"
        p1:layout_height="match_parent"
        p1:id="@+id/imageView2"
        p1:layout_below="@+id/relativeLayout2" />
</RelativeLayout>